// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2026 Oleksii Onchul <oleksiionchul@gmail.com>
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/pinctrl/qcom,pmic-gpio.h>

#include "eliza.dtsi"
#include "pmk8550-eliza.dtsi"
#include "pmxr2230-eliza.dtsi"

/ {
	model = "Nothing Phone (4a) Pro";
	compatible = "nothing,froggerpro", "qcom,eliza";
	chassis-type = "handset";

	aliases {
		serial0 = &uart13;
	};

	chosen {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		stdout-path = "serial0:115200n8";

		framebuffer0: framebuffer@fc800000 {
			compatible = "simple-framebuffer";
			reg = <0x0 0xfc800000 0x0 (1260 * 2800 * 4)>;
			width = <1260>;
			height = <2800>;
			stride = <(1260 * 4)>;
			format = "a8r8g8b8";
		};
	};

	clocks {
		xo_board: xo-board {
			compatible = "fixed-clock";
			clock-frequency = <76800000>;
			#clock-cells = <0>;
		};

		sleep_clk: sleep-clk {
			compatible = "fixed-clock";
			clock-frequency = <32764>;
			#clock-cells = <0>;
		};

		bi_tcxo_div2: bi-tcxo-div2-clk {
			compatible = "fixed-factor-clock";
			#clock-cells = <0>;

			clocks = <&rpmhcc RPMH_CXO_CLK>;
			clock-mult = <1>;
			clock-div = <2>;
		};

		bi_tcxo_ao_div2: bi-tcxo-ao-div2-clk {
			compatible = "fixed-factor-clock";
			#clock-cells = <0>;

			clocks = <&rpmhcc RPMH_CXO_CLK_A>;
			clock-mult = <1>;
			clock-div = <2>;
		};
	};

	gpio-keys {
		compatible = "gpio-keys";

		pinctrl-0 = <&assist_default>, <&volume_up_default>;
		pinctrl-names = "default";

		key-assist {
			gpios = <&tlmm 34 GPIO_ACTIVE_LOW>;
			label = "Assistant";
			linux,code = <KEY_LEFTMETA>;
		};

		key-volume-up {
			gpios = <&pmxr2230_gpios 6 GPIO_ACTIVE_LOW>;
			label = "Volume Up";
			linux,code = <KEY_VOLUMEUP>;
		};
	};

	reserved-memory {
		framebuffer@fc800000 {
			reg = <0x0 0xfc800000 0x0 (1260 * 2800 * 4)>;
			no-map;
		};
	};
};

&pmxr2230_gpios {
	volume_up_default: volume-up-default-state {
		pins = "gpio6";
		function = PMIC_GPIO_FUNC_NORMAL;
		power-source = <1>;
		bias-pull-up;
	};
};

&pon_pwrkey {
	status = "okay";
};

&pon_resin {
	linux,code = <KEY_VOLUMEDOWN>;

	status = "okay";
};

&tlmm {
	assist_default: assist-default-state {
		pins = "gpio34";
		function = "gpio";
		bias-pull-up;
	};
};

/* UART_RX and UART_TX are routed to test points on the board. */
&uart13 {
	status = "okay";
};
